@media screen and (max-width:490px) {
    /* Your CSS code for small screens */
    
    .links-menu{
        /* display: none; */
        flex-direction: column;

        margin-left:5px;
        margin-right: 5px; 

    }
    .links{
        float: none;
        width: auto;
        
    }
    #pizza,
    #pasta,
    #starters,
    #image-header{
        margin-left:5px;
        margin-right: 5px;
        /*  */
    }
    
}
@media  screen and (max-width:660px) {
    .links-nav{
        flex-direction: column;
        gap:2rem;
    }

    .items-price,
    .items-price-2,
    .items-price-3,
    .pasta-items-price,
    .pasta-items-price-2,
    .pasta-items-price-3{
        margin: 0 0px;
        background-color: white;
    }
    
}
@media screen and (min-width:651px) {
    #desktop-nav{
        display: flex;
        justify-content: space-around;
        height: 17vh;
        background: rgba(0,0,0,0.5);
        margin-left: 0;
    }
    
}
@media screen and (max-width:650px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;   
    }

    
}

/*@media screen and (min-width:481px) and (max-width:768px) {
     Your CSS code for medium screens 
    
}

@media screen and (min-width:769px) {
    Your CSS code for large screens 
}
*/