@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html{
    font-size: 62.5%;
}
body{
    background: black;
    font-family: 'Amatic SC', cursive;
    font-weight: 700px;
    margin:0;
    padding:0;
    height: 900vh;
}

#home{
    position: fixed;
    height:70px;
    background: rgba(0,0,0,0.5);
    width:100%;    
}
.container{
    display: flex;
}
.items{
    text-decoration: none;
    margin:15px;
    font-size: 2.5rem;
    color:white;
}
.items:hover{
    background-color: rgba(0,0,0,1);
}
#pizza-sec{
    height:800px;
    background-size:cover;
    background-position: center;

}

.center-text {
    position: absolute; /* make the text position relative to the image */
    top: 50%; /* move the text to the middle of the image vertically */
    left: 50%; /* move the text to the middle of the image horizontally */
    transform: translate(-50%, -50%); /* adjust the position of the text */
    color: white; /* change the text color */
    font-size: 7rem; /* change the text size */
}
.see-the-menu{
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
    background: black;
}
.see-the-menu a{
    padding: 10px 20px;
    
}
.see-the-menu:hover{
    background: gainsboro;
}
.open-time{
    position: absolute;
    top:774px;
    background: black;
    color:white;
    font-size: 3rem;
}
#menu{
    color:white;
}
.heading{
    text-align: center;
    padding-top: 10%;
    font-size: 5rem;
}

.menu-links{
    display:flex;
    border: 2px solid gray;
    width: 100%;
    margin: 0 auto;
}
.links{
    width: 33.333%;
    float: left;
    padding-left: 30px;
    text-decoration: none;
    color:white;
    font-size: 4rem;
}
.pizza{
    background: red;
}
.links:hover{
    background: red;
}
#pizza{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 150%;
    background: white;
    color: black;
}
.items-price{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    font-size: 3rem;
    
}
.price{
    margin-top: 45px;
    margin-right: 30px;
    height: 40px;
    width: 70px;
    text-align: center;
    color:white;
    border-radius: 5%;
    background: gray;
    
}
.gray-text{
    position: absolute;
    top: 13%;
    background: whitesmoke;
}
.line{
    position: absolute;
    top:25%;
    width:90%;
    border-bottom: 1px solid black;
}

.items-price-2{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    margin-top: 80px;
    font-size: 3rem;
    
}
.price-2{
    margin-top: 45px;
    margin-right: 30px;
    height: 40px;
    width: 70px;
    text-align: center;
    color:white;
    border-radius: 5%;
    background: gray;
    
}
.gray-text-2
{
    position: absolute;
    top: 35%;
    background: whitesmoke;
}
.line-2{
    position: absolute;
    top:52%;
    width:90%;
    border-bottom: 1px solid black;
}


.items-price-3{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    margin-top: 50px;
    font-size: 3rem;
    
}
.price-3{
    margin-top: 50px;
    margin-right: 30px;
    height: 35px;
    width: 70px;
    text-align: center;
    color:white;
    border-radius: 5%;
    background: gray;
    
}
.gray-text-3
{
    position: absolute;
    top: 70%;
    background: whitesmoke;
}
.hot{
    background: red;
}

.heading-2{
    position: absolute;
    left:43%;
    top: 343%;
    font-size: 7rem;
    color:white;
}
#pasta{
    position: absolute;
    top:369%;
    background: white;
    /* left:15%; */
    margin: 0 auto;
    /* width:70%; */
    width: 100%;
    height:130%;
}
.popu{
    background: gray;
    border: 1px solid gray;
    width:100px;
    color:whitesmoke;
    font-size: 3rem;
}
.pasta-items-price{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    font-size: 3rem;
    
}
.pasta-price{
    margin-top: 50px;
    margin-right: 30px;
    height: 40px;
    width: 70px;
    text-align: center;
    color:white;
    border-radius: 5%;
   
    background: gray;
    
}

.pasta-gray-text{
    position: absolute;
    top: 20%;
    background: whitesmoke;
}

.pasta-line{
    position: absolute;
    top:35%;
    width:90%;
    border-bottom: 1px solid black;
}

.pasta-items-price-2{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    margin-top: 70px;
    font-size: 3rem;
    
}
.pasta-price-2{
    margin-top: 45px;
    margin-right: 30px;
    height: 40px;
    width: 70px;
    text-align: center;
    color:white;
    border-radius: 5%;
    background: gray;
    
}
.pasta-gray-text-2
{
    position: absolute;
    top: 49%;
    background: whitesmoke;
}
.pasta-line-2{
    position: absolute;
    top:60%;
    width:90%;
    border-bottom: 1px solid black;
}


.pasta-items-price-3{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    margin-top: 45px;
    font-size: 3rem;
    
}
.pasta-price-3{
    margin-top: 45px;
    margin-right: 30px;
    height: 40px;
    width: 70px;
    text-align: center;
    color:white;
    border-radius: 5%;
    background: gray;
    
}
.pasta-gray-text-3
{
    position: absolute;
    top: 78%;
    background: whitesmoke;
}

/* starters */
#starters{
    position: absolute;
    top:520%;
    background: white;
    /* left:15%; */
    /* width:70%; */
    margin: 0 auto;
    width: 100%;
    height:130%;
}
.heading-3{
    position: absolute;
    left:40%;
    top: 494%;
    font-size: 7rem;
    color:white;
}

.starters-items-price{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    font-size: 3rem;
    
}
.starters-price{
    margin-top: 50px;
    margin-right: 30px;
    height: 40px;
    width: 70px;
    text-align: center;
    color:white;
    border-radius: 5%;
   
    background: gray;
    
}

.starters-gray-text{
    position: absolute;
    top: 20%;
    background: whitesmoke;
}

.starters-line{
    position: absolute;
    top:30%;
    width:90%;
    border-bottom: 1px solid black;
}



.starters-items-price-2{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    margin-top: 30px;
    font-size: 3rem;
    
}
.starters-price-2{
    margin-top: 45px;
    margin-right: 30px;
    height: 40px;
    width: 70px;
    text-align: center;
    color:white;
    border-radius: 5%;
    background: gray;
    
}
.starters-gray-text-2
{
    position: absolute;
    top: 44%;
    background: whitesmoke;
}
.starters-line-2{
    position: absolute;
    top:58%;
    width:90%;
    border-bottom: 1px solid black;
}


.starters-items-price-3{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    margin-top: 70px;
    font-size: 3rem;
    
}
.starters-price-3{
    margin-top: 45px;
    margin-right: 30px;
    height: 40px;
    width: 70px;
    text-align: center;
    color:white;
    border-radius: 5%;
    background: gray;
    
}
.starters-gray-text-3
{
    position: absolute;
    top: 75%;
    background: whitesmoke;
}

.about-container{
    background:red;
    position: absolute;
    top:655%;
    width: 100%;
    color:white;
    font-size: 4rem;
}

.about-container p,h1{
    margin: 30px;
}
.about-container p .chef{
    width:25%;
    margin-left: 70%;
    border-radius: 75%;
}
@media screen and (max-width:520px){
    .about-container p .chef{
        width:40%;
        margin-left: 60%;
    }
    
}
.about-h1{
    font-size: 7rem;
    color:white;
    text-align: center;
}

.restuarant-back-img > img{
    width:100%;

}


